{% load static %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row main-navbar">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5 d-flex align-items-center" href="{% url 'dashboard' %}">
        <img src="{% static 'assets/images/8074804.png'%}" class="mr-2" alt="logo"/>
        <p class="text-lg inter-bold text-white m-0">BOOKS</p>
      </a>
      
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      
      <h6 class="m-0 text-white inter-bold text-center mx-auto">Book Collection & Book Selling System.</h6>
   
      <ul class="navbar-nav navbar-nav-right">
      
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="{{user.profile_pic.url}}" alt="profile" class="object-fit-cover "/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown bg-dark-800" aria-labelledby="profileDropdown">
            <a class="dropdown-item text-grey-100" href="{% url 'admin_profile' %}">
                <i class="ti-settings text-primary-900"></i>
                Profile
              </a>
            <a class="dropdown-item text-grey-100" href="{% url 'change_password' %}">
              <i class="ti-settings text-primary-900"></i>
              Settings
            </a>
            <a class="dropdown-item text-grey-100" href="{% url 'logout' %}">
              <i class="ti-power-off text-primary-900"></i>
              Logout
            </a>
          </div>
        </li>
       
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>